@import "./header.scss";

.footer{
    background-color: $color-shadow-text;
    color: $color-white-text-header;
    font-family: $font-cursive;
    font-size: 1.5rem;
}
.footer_content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo_rsschool img{
    width: 100px;
}
.footer_team{
    display: flex;
    justify-content: space-around;
}
.link_team_github{
    text-decoration: none;
    color: $color-white-text-header;
}
.team_inform_item{
    padding: 2rem;
    text-shadow: 2px 2px #6d7677;
    &:hover{
        text-shadow: none;
    }
}