@import "./header.scss";


.section_presentation_rslang{
    background-color: rgba(210, 220, 208, 0.6);
}
.main_content{
    padding: 80px 90px;
}
.section_presentation_content{
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section_presentation_text{    
    color: #000000;
    font-family: $font-cursive;
    & p{
        font-size: 3rem;
    }
    & h1{
        font-size: 4rem;
        padding: 20px 0;
    }
}
.section_presentation_img{
   & img{
    width: 800px;
    border-radius: 15px 0 15px 0;
    box-shadow: 0 10px 14px 0 rgb(0 0 0 / 40%); 
    transform: rotate(2deg); 
    
   }
}
.section_benefits{
    background-color: rgba(228, 237, 241, 0.6);
    text-align: center;
}
.section_benefits_title, .section_join_title{
    font-size: 3rem;
    color: #000000;
    font-family: $font-cursive;
    padding: 0 0 5rem 0;
}
.box_benefit{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 2rem;      
    & .box_benefit_item{
        background-color: rgba(111, 161, 197, 1.0);
        border-radius: 15px 0 15px 0;        
        padding: 0 1rem; 
        width: 40%;
        box-shadow: 3px 3px 13px 6px rgb(162 182 196 / 60%);
        & img{
            width: 150px;            
        }
        & h3{
            font-family: $font-cursive;
            font-size: 2rem;
            color: $color-white-text-header;
        }
        & p{
            color: $color-white-text-header;
            font-size: 1.5rem;  
            padding: 1rem 0 3rem;        
        }

    }
}
.section_join_content{
    display: flex;
    padding: 2rem 0;
}
.section_join{
    background-color: rgba(210, 220, 208, 0.6);
    text-align: center;
}
.section_join_img img{     
    width: 600px;
    border-radius: 15px 0 15px 0;
    transform: rotate(2deg); 
    box-shadow: 0 10px 14px 0 rgb(0 0 0 / 40%);     
}
.logoin{
    text-decoration: none;
    background-color: $color-shadow-text;
    font-size: 1.6rem;
    font-family: $font-cursive;
    color: $color-white-text-header;
    padding: 1rem 2rem;
    border: none;
    border-radius: 15px 0 15px 0;
    box-shadow: 0 10px 14px 0 rgb(0 0 0 / 40%); 
    &:hover{
        background-color: $color-header;
     }
}
