.preloader__loader {
  position: relative;
  top: calc(50vh);
}
.loader-authorization {
  position: relative;
  top: calc(50% - 50px);
}
.preloader {
  display: flex;
  justify-content: center;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  background: rgb(231, 226, 226);
  height: 100%;
  position: absolute;
  transition: all 0.9s ease-out;
}
@keyframes loader-part {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.loader-part div {
  left: 94px;
  // top: 32px;
  position: absolute;
  animation: loader-part linear 1s infinite;

  width: 12px;
  height: 32px;
  border-radius: 6px / 9.6px;
  transform-origin: 6px 68px;
  background: #1d3f72;
}.loader-part div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;

}.loader-part div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;

}.loader-part div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;

}.loader-part div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;

}.loader-part div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;

}.loader-part div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;

}.loader-part div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;

}.loader-part div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;

}.loader-part div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;

}.loader-part div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;

}.loader-part div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;

}.loader-part div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;

}
.loadingio-spinner-spinner-ovqvmy17tv {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
}
.loader-part {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; 

}
.loader-part div { box-sizing: content-box; }