<p class="sprint-game__score">220</p>
<div class="card">
  <div class="card__timer"></div>
  <div class="tries">
    <div class="tries__circle active" id="first"></div>
    <div class="tries__circle disable" id="second"></div>
    <div class="tries__circle disable" id="third"></div>
  </div>
  <div class="words">
    <p class="card__original-word"></p>
    <p class="card__translate-word"></p>
  </div>
  <div class="card__buttons">
    <button class="correct">&larr Верно</button>
    <button class="incorrect">&rarr Верно</button>
  </div>
</div>