.about_team_wrapper{
    background-color: rgba(210, 220, 208, 0.6);
}
.about_content{
    padding: 80px 90px;
    display: flex;
    flex-direction: column;    
}

.member{
    padding: 2rem 2rem;
    margin: 3rem auto;
    width: 60%;
    display: flex;    
    align-items: center;
    gap: 40px;
    border-radius: 10px;
    box-shadow: 3px 3px 13px 6px rgb(162 182 196 / 60%);
    & .member_img{
         
        & img{
            width: 200px;
            border-radius: 15px 0 15px 0;
        }       
    }
}

.member_inform_title{
    font-size: 3rem;
    color: #000000;
    font-family: Bangers,cursive;
    padding: 0 0 5rem 0;
}

.member_text{
    font-size: 1.5rem;    
}
